<div class="container">
  <h1> It's <a href="/">shURLy</a>!</h1>
  <h2>the SHort URL maker</h2>
  <form action="/shurlyit" method="POST">
    <input type="text" required name="url" placeholder="enter your url here" autofocus><br>
    <input class="submit" type="submit" value="Shorten it!">
  </form><br>

  <% if @shortly %>
    <div id="shortly">
    <p>Your Shurly: 
    <a id="shurly" href="http://shur.ly/<%= @shortly.shortly %>" target="_blank">shur.ly/<%= @shortly.shortly %></a></p>
    <p>Original URL: <a href="<%= @shortly.lead %><%= @shortly.body %>" target="_blank"><%= @shortly.url %></a></p>
    </div>
  <% elsif @error %>
    <div id="shortly">
    <p><%= @error %></p>
    </div>
  <% end %>

  <footer>
    <p>shURLy! is an open source web application. You can find the source <a href="https://github.com/GeoffCrittenden/shortly" target="_blank">here</a>.</p>
    <p>Copyright 2013. Licensed under The MIT License.</p>
  </footer>

</div>