<div class="container">
  <h1> It's <a href="/">shURLy</a>!</h1>
  <h2>the SHort URL maker</h2>
  <form action="/shurlyit" method="POST">
    <input type="text" required name="url" placeholder="enter your url here" size="15" autofocus><br>
    <input class="submit" type="submit" value="Shorten it!">
  </form><br>

  <% if @shortly %>
    <div class="shortly">
    <p id="shurly"><a href="/<%= @shortly.shortly %>" target="_blank">shur.ly/<%= @shortly.shortly %></a></p>
    <p>Original URL:<br><a href="<%= @shortly.lead %><%= @shortly.body %>" target="_blank"><span id="original"><%= @shortly.url %></span></a></p>
    </div>
  <% elsif @error %>
    <div class="shortly">
    <p><%= @error %></p>
    </div>
  <% end %>

  <footer>
    <p>shURLy! is an open source web application licensed under The MIT License. You can find the source <a href="https://github.com/GeoffCrittenden/shortly" target="_blank">here</a>.</p>
    <p>Copyright 2018 <a href="http://geoffcrittenden.com" target="_blank">GeoffCrittenden</a>.</p>
  </footer>

</div>
